.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: bisque;
}
.child{
    width:20%;
    height:100%;
    background-color: black;
    color:blueviolet;
}
.child1{
    width: 80%;
    height: 100%;
    overflow: auto;
}